<div>
    <h4>Add New Item</h4><p class="clsIcon" (click)="closePU()"><span class="glyphicon glyphicon-remove-sign"></span></p>        
  <ul>
    <li><label>Icon</label><input type="file" name="imgUpload" id="imgUpload" /></li>
    <li><label>Title</label><input type="text" name="title" id="title" [(ngModel)]="title"/></li>
    <li><label>Version</label><input type="text" name="version" id="version" [(ngModel)]="version"></li>
    <li><label>Description</label><textarea name="desc" id="desc" cols="30" rows="10" [(ngModel)]="desc"></textarea></li>
    <li><label>Developed By</label><input type="text" name="devBy" id="devBy" [(ngModel)]="devBy"></li>
    <li><label>Supported By</label><input type="text" name="supBy" id="supBy" [(ngModel)]="supBy"></li>
    <li><label>Version History</label><input type="text" name="verHis" id="verHis" [(ngModel)]="verHis"></li>
    <li><label>Code Repository</label><input type="text" name="codeRepo" id="codeRepo" [(ngModel)]="codeRepo"></li>
    <li><button (click)="closePU()">Cancel</button><button type="submit" (click)="submitItem()">Submit</button></li>
  </ul>
</div>