article p{
    margin: 10px 0;
    padding: 0 10px;
    color: #FFFFFF;
    width: 75%;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}
article div{
    width: 20%;
    display: inline-block;
}
article div button{
    background: #544937;
    border: none;
    color: #ffffff;
    font-size: 12px;
}