.row.custom-row{
    width: 90%;
    height: 90%;
    margin: auto;
    top: 0;
    bottom: 0;
    position: absolute;
    right: 0;
    left: 0;
    text-align: center;
}
form .form-group{
    width: 100%;
    font-size: 12px;
    height: 100%;
    margin: 10px auto !important;
}
.form-horizontal .form-group{
    margin: 0;
}
.jumbotron,legend{
    color: #FFFFFF;
}
.jumbotron{
    background: none;
}
label{
    text-align: right;
    padding-right: 10px;
    width: 40%;
}
input{
    background: rgba(0, 0, 0, 0.6196078431372549);
    border: none;
    width: 50%;
    padding: 5px;
    border-radius: 4px;
}
button{
    width: 40%;
    margin-left: 5px;
}
.form-group.checkbox label{
    width: 100%;
    text-align: center;
    font-size: 12px;
}
.alert-danger{
    color: #ea7f7d;
    background-color: rgba(37, 34, 34, 0.6313725490196078);
    border-color: rgba(235, 204, 209, 0);
    padding: 5px;
    width: auto;
    font-size: 10px;
    display: inline-block;
    text-align: center;
    margin: auto;
}
form .form-group:last-child{
    margin: auto;
    font-size: 10px;
}
input[type="radio"], input[type="checkbox"]{
    min-width: auto;
    width: auto;
}
footer{
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 45px;
    height: 45px;
    background: url(../../assets/ericsson_white_sml.png) no-repeat center;
    background-size: 100%;
}
@media only screen and (min-width: 768px) {
    form .form-group{
        font-size: 14px;
    } 
    .alert-danger,form .form-group:last-child{
        font-size: 12px;
    }
    label{
        min-width: 125px;
        width: auto;
    }
    input{
        min-width: 180px;
        width: auto;
    }
    button{
        width: 150px;   
    }
}