<app-header></app-header>
<app-nav-bar></app-nav-bar>
<section>
        <p class="addRecordIcon" (click)="addItem()"><span class="glyphicon glyphicon-plus"></span></p>       
        <app-list-view></app-list-view>
        <ul>
            <li class="parentLi" *ngFor="let wList of web_List" @bounceEffect>
                    <div>
                            <p><label><img src="{{wList.Icon}}"/></label></p>
                            <ul>
                                <li>{{wList.Title}}</li>
                                <li>{{wList.Desc}}</li>
                                <li>{{wList.Version}}</li>
                                <li>{{wList.DevelopedBy}}</li>
                                <li>{{wList.SupportedBy}}</li>
                                <li>{{wList.VersionsHistory}}</li>
                                <li>{{wList.CodeRepository}}</li>               
                            </ul>
                            <p><span class="glyphicon glyphicon-pencil" (click)="editItem(wList._id)"></span></p>
                            <p><span class="glyphicon glyphicon-remove" (click)="delItem(wList._id)"></span></p>
                    </div>
             </li>            
        </ul>
       
</section>
<app-create-item-web [editFlagVal]="editFlag" [editWebId]="editId" (canClked)="canBtn($event)" (submitClked)="okBtn($event)" [ngClass]="showHide()" *ngIf="iVisi"></app-create-item-web>
<!-- <app-msg-toast [msg]="sMsg" *ngIf="popVisi" ></app-msg-toast> -->
<app-alert [msg]="sMsg" *ngIf="alertVisi" (okBtnClked)="userAction($event)"></app-alert>
<app-blurbg *ngIf="iVisi"></app-blurbg>