<app-header></app-header>
<app-nav-bar></app-nav-bar>
<section>
        <p class="addRecordIcon" (click)="addItem()"><span class="glyphicon glyphicon-plus"></span></p>       
        <app-list-view></app-list-view>
        <ul>
            <li *ngFor="let wList of web_List">
                    <div>
                            <p><label><img src="{{wList.Icon}}"/></label></p>
                            <ul>
                                <li>{{wList.Title}}</li>
                                <li>{{wList.Desc}}</li>
                                <li>{{wList.Version}}</li>
                                <li>{{wList.DevelopedBy}}</li>
                                <li>{{wList.SupportedBy}}</li>
                                <li>{{wList.VersionsHistory}}</li>
                                <li>{{wList.CodeRepository}}</li>               
                            </ul>
                            <p><span class="glyphicon glyphicon-pencil"></span></p>
                            <p><span class="glyphicon glyphicon-remove"></span></p>
                    </div>
             </li>            
        </ul>
       
</section>
<app-create-item-web *ngIf="iVisi"></app-create-item-web>
<app-blurbg *ngIf="iVisi"></app-blurbg>