/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css"; 

html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: myFirstFont;
}
body{
    background: url(assets/EAFO_bg.png) no-repeat center;
    background-size: cover; 
}
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
}
ul, li{
    list-style: none;
    padding: 0;
    margin: 0;
}

a{
    color: #002261;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid green;
  -webkit-text-fill-color: green;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
@font-face {
    font-family: myFirstFont;
    src: url(fonts/EricsSans-Regular.otf);
}
@font-face {
    font-family: EricssonCapital;
    src: url(fonts/EricssonCapital.otf);
}
@font-face {
    font-family: EricFontMedium;
    src: url(fonts/EricsSans-Medium.otf);
}
h1{
    margin: 0;
}
#welcomePage{
    width: 100%;
    height: 100%;
    align-content: center;
}
#welcomePage > div{
    background: url(assets/bg_img.png) no-repeat center rgba(41, 37, 37, 0.95);
    background-size: 100% 100%; 
    max-width: 450px;
    height: 100%;
    margin: auto;
}
#welcomePage header{
    width: 100%;
    height: 60%;
}
#welcomePage h2{
    background: url(assets/ericsson_yellow.png) no-repeat center;
    background-size: 15%;
    height: 100px;
    width: 100%;
    background-position: 25px 30px;
    margin: 0;
}
#welcomePage h1{
    margin: 0 auto;
    width: 85%;
    font-family: EricssonCapital;
    text-align: center;
    max-height: 150px;
    color: #fdc844;   
    padding: 20% 0 0 0;
}
#welcomePage article{
    width: 100%;  
    position: relative;
    height: 40%;
    background: rgba(0, 0, 0, 0.45);
    margin: 0;
}
#welcomePage form{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top:20%;
}
#welcomePage input{
    width: 50%;
    display: inline-block;
    height: 35px;
    border: none;
    margin: 1% 0;
    background: rgba(0, 0, 0, 0.45);
}
#welcomePage article button{
    width: 40%;
    height: 30px;
    background: #fdc844;
    border: none;
    margin: 2%;
    font-family: EricFontMedium;
    font-size: initial;
    color: rgba(0, 0, 0, 0.9);
}
#welcomePage article button[disabled] {
    background: rgba(253, 200, 68, 0.25);
    color: rgba(0, 0, 0, 0.45);
}
form .form-group{
    width: 80%;
    height: 100%;
    margin: 6px auto !important;
}
form .form-group:nth-child(4){
    margin: 10px auto !important;
}
form .form-group div{
    margin: 0;
    padding:0;
    position: relative;
}
form .form-group:last-child {
    text-align: center;
    font-size: 10px;
    margin: 4% auto 0 auto !important;
    color: #FFFFFF;
}
form .form-group:last-child a{
    color: #d2d2d2;
    text-decoration: underline;
}
form .form-group:last-child p{
    margin: 20px 0 10px 0;
    font-size: 12px;
}
form input.form-control{
    border-radius: 0;
    border: none;
    color: #FFFFFF;
    box-shadow: none;
    padding: 2px 15px 2px 10px;
    height: 30px;
    font-size: 18px;
    margin: 10px 0;
}
form .form-group div span{
    font-size: 13px;
    color: #b6acb9;
}
form input.form-control#username,form input.form-control#pwd{
    line-height: 25px;
    background:none;
    border-top: 1px solid rgba(253, 200, 68, 0.45);
    border-bottom: 1px solid #fdc844;
    border-radius: 5px;
    font-size: medium;
}
.form-control:focus{
    border-color: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
label.loginUI,label.loginPI{
    color: #fdc844;
    display: inline-block;
    font-size: unset;
    height: 30px;
}
/* .move-up{
    top: -15px!important;
    font-size: 10px!important;
    font-weight: 100!important;
} */
.btn-default:active,.btn-default:hover {
    color: #FFFFFF;
    background: #1b5faa;
}
.invalidEntry {
    text-align: center;
    font-size: 12px;
    width: 100%;
}
.clearUser,.clearPswd{
    width: 5%;
    height: 15px;
    background: url(assets/cancel-icon.png) no-repeat center;
    background-size: 35px;
    display: inline-block;
    margin: -3px -14px;
}
app-ios,app-hybrid,app-android,app-desktop{
    width: 99%;
    height: auto;
    display: inline-block;
    position: relative;
}
app-ios:focus,app-hybrid:focus,app-android:focus,app-desktop:focus,ul li{
    outline: 0;
}
app-ios > div span,app-hybrid > div span,app-android > div span,app-desktop > div span{
    position: absolute;
    width:23px;
    height: 23px;
    background: url(assets/arrowIcon.png) no-repeat center;
    background-size: 100% 100%;
    right: 3px;
    margin: auto;
    bottom: 95px;
    top: auto;
}
app-ios > div,app-hybrid > div,app-android > div,app-desktop > div{
    width: 80%;
    position: relative;
    margin: 4% auto 0;
    display: block;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 25px;
    box-shadow: 0px 0px 15px #fdc844;
    background: rgba(0,0,0,0.6);
}
app-ios > div ul,app-hybrid > div ul,app-android > div ul,app-desktop > div ul{
    overflow: auto;
    color: #fed57a;
    width:92%;
    margin: auto;
    padding: 4% 4% 2%;
}
app-ios > div ul li:first-child,app-hybrid > div li:first-child,app-android > div li:first-child,app-desktop > div li:first-child{
    display: block;
    width: 50px;
    height: 50px;
    margin: 4% auto;
    text-align: center;
}
app-hybrid > div ul li:first-child{
    background: url(assets/hybrid.png) no-repeat center;
    background-size: 100% 100%; 
}
app-ios > div ul li:first-child{
    background: url(assets/ios.png) no-repeat center;
    background-size: 100% 100%; 
}
app-android > div ul li:first-child{
    background: url(assets/android.png) no-repeat center;
    background-size: 100% 100%; 
}
app-desktop > div ul li:first-child{
    background: url(assets/desk.png) no-repeat center;
    background-size: 100% 100%; 
}
app-home h3{
    margin: 20px 0 10px 15px;
    color: #fed57a;
    font-size: large;
}
app-ios > div li:last-child,app-hybrid > div li:last-child,app-android > div li:last-child,app-desktop > div li:last-child{
    display: block;
    text-align: center;
    width: 90%;
    margin: 5px 5%;
    font-size: small;
}
app-web-list section,app-ios-list section,app-android-list section,app-hyb-list section{
    width: 100%;
    height: 80%;
    overflow: hidden;
    position: relative;
}
app-web-list section ul,app-ios-list section ul,app-android-list section ul,app-hyb-list section ul{
    width: 96%;
    height: 80%;
    overflow: scroll;
    margin: auto;
    background: rgba(0, 0, 0, 0.45);
}
app-web-list section div ul, app-ios-list section div ul, app-android-list section div ul, app-hyb-list section div ul{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    background: none;
}
app-web-list section ul li,app-ios-list section ul li,app-android-list section ul li,app-hyb-list section ul li{
    color: rgba(254, 213, 122, 0.83);
    font-size: 12px;
    width: 100%;
    margin: 1% auto;
    border-top: 1px solid rgba(254, 213, 122, 0.25);
    border-bottom: 1px solid rgba(254, 213, 122, 0.25);
    border-radius: 22px;
    background: rgba(51, 51, 51, 0.3686274509803922);
}
article.addNewData{
    position: absolute;
    width: 95%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: grey;
}

p.addRecordIcon{
    position: absolute;
    top: 0;
    right: 5px;
    background: #1b212f;
    border: 1px solid rgba(254, 213, 122, 0.83);
    width: 20px;
    height: 20px;
    border-radius: 22px;
    margin: 0;
    z-index: 4;
}
p.addRecordIcon > span{
    font-size: 9px;
    position: absolute;
    width: 19px;
    height: 10px;
    margin: auto;
    color:rgba(254, 213, 122, 0.83);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}


/* Pop Up */
app-blurbg{
    width:100%;
    height: 100%;
    position: fixed;
    background: rgba(0,0,0,0.8);
    z-index: 6;
    top:0
}
app-create-item-ios.showPU,app-create-item-and.showPU,app-create-item-hyb.showPU,app-create-item-web.showPU{
    animation: animateright 1s;
}
app-create-item-ios.hidePU,app-create-item-and.hidePU,app-create-item-hyb.hidePU,app-create-item-web.hidePU{
    animation: animaterightBack 1s;
}
@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
@keyframes animaterightBack{from{left:0;opacity:1} to{left:-300px;opacity:0}}
app-create-item-ios,app-create-item-and,app-create-item-hyb,app-create-item-web,app-msg-toast{
    width: 85%;
    height: 85%;
    position: absolute;
    background: #1b212f;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 11;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(254, 213, 122, 0.95);
}
app-msg-toast{
    height: 18%;
}
app-create-item-ios div,app-create-item-and div,app-create-item-hyb div,app-create-item-web div{
    width: 90%;
    height: 85%;
    margin: 10% auto 0 auto;
    top: 0;
    /* bottom: 0; */
    left: 0;
    right: 0;
    position: absolute;
}
app-create-item-ios div ul,app-create-item-and div ul,app-create-item-hyb div ul,app-create-item-web div ul{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
app-create-item-ios div ul li,app-create-item-and div ul li,app-create-item-hyb div ul li,app-create-item-web div ul li{
    align-items: center;
    display: flex;
    width: 100%;
}
app-create-item-ios div ul li:last-child,app-create-item-and div ul li:last-child,app-create-item-hyb div ul li:last-child,app-create-item-web div ul li:last-child{
    margin: 10% 0 0 0;
}
app-create-item-ios div ul li label,app-create-item-hyb div ul li label,app-create-item-and div ul li label,app-create-item-web div ul li label{
    width: 45%;
    align-items: center;
    text-align: right;
    color: #FFFFFF;
    font-size: 12px;
    padding: 0 20px;
}
app-create-item-ios div ul li input,app-create-item-ios div ul li textarea,app-create-item-hyb div ul li input,app-create-item-hyb div ul li textarea,app-create-item-and div ul li input,app-create-item-and div ul li textarea,app-create-item-web div ul li input,app-create-item-web div ul li textarea{
    display: inline-flex;
    width: 55%;
    align-items: center;
    height: 30px;
    margin: 0 0 0 10px;
    text-align: left;
    border-radius: 4px;
    padding: 0 10px;
    border: none;
}
input[type="file"]{
    color: #FFFFFF;
    display: inline-block;
}
app-create-item-ios div ul button, app-create-item-and div ul button, app-create-item-hyb div ul button, app-create-item-web div ul button{
    width: 46%;
    margin: auto 2%;
    display: inline-block;
    height: 35px;
    border-radius: 4px;
    border: none;
    background: #2e4275;
    color: #FFFFFF;
}
app-create-item-ios div ul li textarea,app-create-item-and div ul li textarea,app-create-item-hyb div ul li textarea,app-create-item-web div ul li textarea{
    height: 75px;
    resize: none;
    padding: 5px 10px;
}
h4{
    width: 100%;
    text-align: center;
    color: #ffffff;
    margin: 0 0 10px 0;
    border-bottom: 1px dashed rgba(254, 213, 122, 0.95);
    padding: 0 0 10px 0;
}
p.clsIcon{
    margin: 0;
    position: absolute;
    width: 20px;
    height: 20px;
    right: -10px;
    top: -30px;
}
p.clsIcon span{
    color: #ffffff;
    font-size: 20px;
}

/* PU end */
@media only screen and (min-width: 768px) {
    app-web-list section ul,app-ios-list section ul,app-android-list section ul,app-hyb-list section ul{
        height: 85%;
    }
    app-ios > div span,app-hybrid > div span,app-android > div span,app-desktop > div span{
        width:23px;
        height: 23px;
        background: url(assets/arrowIcon.png) no-repeat center;
        background-size: 100% 100%;
        top:0;
        bottom:0;
        right: 3px;
        left: auto;
    }
    app-ios,app-hybrid,app-android,app-desktop{
        width: 49%;
        height: auto;
        display: inline-block;
        position: relative;
    }
    app-ios > div,app-hybrid > div,app-android > div,app-desktop > div{
        display: block;
        border-bottom-left-radius: 250px;
        border-top-left-radius: 250px;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
    }
    app-ios > div ul,app-hybrid > div ul,app-android > div ul,app-desktop > div ul{
        padding: 4%;
    }
    app-ios > div ul li:first-child,app-hybrid > div li:first-child,app-android > div li:first-child,app-desktop > div li:first-child{
        display: inline-block;
        width: 50px;
        height: 50px;
        margin: 20px;
        vertical-align: middle;
    }
    app-ios > div li:last-child,app-hybrid > div li:last-child,app-android > div li:last-child,app-desktop > div li:last-child{
        display: inline-block;
        vertical-align: middle;
        width: 70%;
        margin: 20px 0;
        font-size: small;
    }
    p.addRecordIcon{
        width: 25px;
        height: 25px;
        top: 10px;
        right: 15px;
    }
    p.addRecordIcon > span{
        font-size: 12px;
        height: 12px;
    }
    app-create-item-ios div, app-create-item-and div, app-create-item-hyb div, app-create-item-web div{
        bottom: 0;
        margin: auto;
    }
    app-create-item-ios div ul li,app-create-item-and div ul li,app-create-item-hyb div ul li,app-create-item-web div ul li{
        width: 50%;
        justify-content: center;
    }
    app-create-item-ios div ul li label,app-create-item-hyb div ul li label,app-create-item-and div ul li label,app-create-item-web div ul li label{
        width: 30%;
        font-size: 14px;
    }
    app-create-item-ios div ul li input,app-create-item-ios div ul li textarea,app-create-item-hyb div ul li input,app-create-item-hyb div ul li textarea,app-create-item-and div ul li input,app-create-item-and div ul li textarea,app-create-item-web div ul li input,app-create-item-web div ul li textarea{
        width: 70%;
    }
    app-create-item-ios div ul li:last-child,app-create-item-and div ul li:last-child,app-create-item-hyb div ul li:last-child,app-create-item-web div ul li:last-child{
        width: 100%;
    }
    app-create-item-ios div ul li textarea, app-create-item-and div ul li textarea, app-create-item-hyb div ul li textarea, app-create-item-web div ul li textarea{
        height: 100px;
    }
    app-create-item-ios div ul button, app-create-item-and div ul button, app-create-item-hyb div ul button, app-create-item-web div ul button{
        width: 200px;
    }
    app-msg-toast{
        width: 30%;
    }
    p.clsIcon{
        right: -5px;
    }
}