<app-header></app-header>
<app-nav-bar></app-nav-bar>
<section>
        <p class="addRecordIcon" (click)="addItem()"><span class="glyphicon glyphicon-plus"></span></p>       
        <app-list-view></app-list-view>
        <ul>
            <li *ngFor="let aList of and_List">
                    <div>
                            <p><label><img src="{{aList.Icon}}"/></label></p>
                            <ul>
                                <li>{{aList.Title}}</li>
                                <li>{{aList.Desc}}</li>
                                <li>{{aList.Version}}</li>
                                <li>{{aList.DevelopedBy}}</li>
                                <li>{{aList.SupportedBy}}</li>
                                <li>{{aList.VersionsHistory}}</li>
                                <li>{{aList.CodeRepository}}</li>               
                            </ul>
                            <p><span class="glyphicon glyphicon-pencil" (click)="editItem(aList._id)"></span></p>
                            <p><span class="glyphicon glyphicon-remove" (click)="delItem(aList._id)"></span></p>
                    </div>
             </li>            
        </ul>
</section>
<app-create-item-and [ngClass]="showHide()" *ngIf="iVisi"></app-create-item-and>
<app-blurbg *ngIf="iVisi"></app-blurbg>