section{
    width: 100%;
    height: 100%;
}
article{
    width: 100%;
    height: 100%;/* lc end */
    overflow: auto;
    padding: 60px 0 10px 0;/* lc end */
}
img{
    position: fixed;
    right: 10px;
    width: 40px;
    height: 40px;
    top: 67px;
    background: #fed57a;
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
    z-index: 50;
    margin: 0;
}
